<nav class="navbar navbar-default">
    <div class="navbar-header">
        <span>{{profile.id}}</span>
    </div>
    <ul class="nav navbar-nav">
        <li ng-click="switchView('model')" role="presentation" ng-class="{'active':view == 'model'}"><a href="#/categories-list">Data</a></li>
        <li ng-click="switchView('moderate')" ng-if="profile.moderation" role="presentation" ng-class="{'active':view == 'moderate'}"><a href="#/moderate">Moderation</a></li>
    </ul>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</nav>

<!-- Errors section -->
<div class="row">
    <div class="col-md-10 col-md-offset-1 main">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 alert alert-danger" role="alert" ng-if="errorTexts.length > 0">
                <span ng-repeat="errorText in errorTexts">{{errorText}}<br /></span>
            </div>
            <div class="col-md-8 col-md-offset-2 alert alert-success alert-dismissible" role="alert" ng-if="successText">
                <button type="button" class="close" ng-click="resetText()">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {{successText}}
            </div>
        </div>
    </div>
    <!-- Include update section -->
    <div ng-include="'templates/update.html'" ng-if="view=='model'">
    </div>
    <div class="col-lg-12" ng-if="view=='model'">
        <a href="#/categories-list">
            <div style="float: left;" class="selection-tab categories-tab" ng-class="{'active':mainView == 'categories'}">
                Categorie
            </div>
        </a>
        <a href="#/paths-list">
            <div style="float:right;" class="selection-tab paths-tab" ng-class="{'active':mainView == 'paths'}">
                Percorsi
            </div>
        </a>
    </div>
    <!-- Main section -->
    <div ui-view></div>
</div>