# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
hooks/
#
variables_do_not_commit.json
www/js/conf_do_not_commit.js