/*
    Theme colors:
        > Green: rgb(17, 133, 117);
        > Gray: rgb(193, 193, 193);
        > Cyan: rgb(21, 164, 184);
        > Dark Cyan: rgb(17, 124, 139);
        > Light blue: rgb(37, 154, 219);
        > Red: rgb(228, 0, 27);
*/


/* Vertical align center columns of a row */

.v-center {
    display: flex;
    align-items: center;
}


/* Buttons style */

.btn {
    padding-right: 18px;
    padding-left: 18px;
    border: 0;
    border-radius: 6px;
}

.btn-icon {
    font-size: 18px;
    padding: 6px 12px;
}

.btn.btn-info {
    background-color: rgb(21, 164, 184);
}

.btn.btn-primary {
    background-color: rgb(37, 154, 219);
}

.btn.btn-danger {
    background-color: rgb(228, 0, 27);
}

.btn-reorder,
.btn-reorder:hover {
    cursor: move;
    font-size: 25px;
    color: rgb(17, 124, 139);
}

.btn-reorder:active {
    outline: 0;
    box-shadow: 0;
    color: rgb(21, 164, 184);
}


/* Navbar */

.navbar {
    min-height: 20px;
}

.navbar-default {
    background-color: rgb(193, 193, 193);
    border: 0;
    border-bottom: 5px rgb(17, 133, 117) solid;
    border-radius: 0px;
}

.navbar-header {
    width: 250px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

.navbar-default .navbar-header > span {
    color: rgb(17, 133, 117);
    font-weight: 700;
    font-size: 20px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    font-weight: 500;
    background-color: rgb(17, 133, 117);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(17, 133, 117);
    font-weight: 500;
}

.navbar-nav>li>a {
    text-align: center;
    font-size: 15px;
    width: 115px;
    padding: 10px 0;
}


/* Submit new data */

.lang-checkers {
    display: inline-block;
}

.lang-checkers .checkbox {
    margin-right: 15px;
    margin-left: 5px;
}

.lang-checkers .checkbox input {
    margin: 0;
}

hr.border-paths {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-update {
    margin-bottom: 50px;
}


/* Paths or Cateogries tab */

.selection-tab {
    font-size: 15px;
    font-weight: 500;
    padding: 6px 0;
    text-align: center;
    background-color: rgb(193, 193, 193);
    border-bottom: 5px solid rgb(17, 133, 117);
    width: 50%;
    display: inline-block;
    margin-bottom: 40px;
}

.selection-tab a {
    color: rgb(17, 133, 117);
}

.selection-tab.active {
    background-color: rgb(17, 133, 117);
}

.selection-tab.active a {
    color: #fff;
}


/* Reorder and add new buttons */

.buttons-tab {
    text-align: center;
    margin-bottom: 40px;
}


/* Categories list */

.list-categories {}

.list-categories > .list-group-item {
    border-radius: 15px;
    margin-bottom: 15px;
}

.list-categories > .list-group-item h5 {
    font-size: 15px;
}