.panel {
    padding-top: 10px;
}

.read {
    background-color: #f9f9f9;
}

input.error {
    border: red 1px solid;
}

.error div.ta-scroll-window.ng-scope.ta-text.ta-editor.form-control {
    border: red 1px solid;
}


/* Custom style */

.path-list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.cat-list-item {
    border: none;
}

.path-img {
    max-height: 100%;
    max-width: 100%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}


/* Google Maps */

#map {
    height: 400px;
    width: 100%;
}

#map-poi {
    height: 250px;
    width: 100%;
}

.map-shape-area {
    height: 400px!important;
    width: 100% !important;
}

.delete-menu {
    position: absolute;
    background: white;
    padding: 3px;
    color: #666;
    font-weight: bold;
    border: 1px solid #999;
    font-family: sans-serif;
    font-size: 12px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
}

.delete-menu:hover {
    background: #eee;
}


/* Form elements */

.border {
    border-right: 1px solid black;
}

.fields .row {
    padding-bottom: 20px;
}

.fields input {
    width: 100%;
}


/* TextAngular Style */

.ta-editor {
    min-height: 400px;
    max-height: 400px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.ta-hidden-input {
    display: none;
}