<ion-modal-view id="addimages-modal">
    <ion-header-bar>
        <h1 class="title">{{'addImage_label'|translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="types-buttons">
            <button class="button button-light button-large" ng-click="addImage('Camera')" ng-if="image.length == 0">
                <i class=" icon ion-android-camera"></i>
            </button>
            <button class="button button-light button-large" ng-click="addImage('Gallery')" ng-if="image.length == 0">
                <i class=" icon ion-images"></i>
            </button>
        </div>
        <div>
            <div class="add-image-poi-select">
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{'poi_add_image_popup'|translate}}
                    </div>
                    <select ng-options="o.name for o in options" ng-model="selectedOption" ng-change="changeItem(selectedOption.id)"></select>
                </label>
            </div>
        </div>

        <div class="wrapper" ng-repeat="img in image">
            <img data-ng-src="{{img}}" width="200px" />
            <span class="close" ng-click="removeImage(img)"></span>
        </div>

        <div class="row actions-buttons">
            <div class="col">
                <button class="button button-percorsi button-block" ng-click="closeAddimage()">{{'addImage_popup_cancel' | translate}}</button>
            </div>
            <div class="col">
                <button class="button button-percorsi button-block" ng-click="submit()">{{'addImage_popup_ok' | translate}}</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
