<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{'addImage_label'|translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <div align="center" style="margin:5px">
            <button class="button button-custom button-large" ng-click="addImage('Camera')">
                <i class=" icon ion-android-camera"></i>
            </button>
            <button class="button button-custom button-large" ng-click="addImage('Gallery')">
                <i class=" icon ion-images"></i>
            </button>
            <div class="add-image-poi-select">
                <label class="item item-input item-select">

                    <div class="input-label">
                        {{'poi_add_image_popup'|translate}}
                    </div>
                    <form>

                        <select ng-options="o.name for o in options" ng-model="selectedOption"></select>
                    </form>

                </label>
            </div>
        </div>

        <div class="wrapper" ng-repeat="image in images">
            <img data-ng-src="{{image}}" width="200px" />
            <span class="close" ng-click="removeImage(image)"></span>
        </div>
        <div class="cancel-confirm">
            <button class="button button-percorsi" ng-click="closeAddimage()" style="width:49%">Cancel</button>
            <button class="button button-percorsi" ng-click="submit()" style="width:49%">Detail</button>
        </div>
    </ion-content>
</ion-modal-view>
