<ion-view id="categories" title="{{'categories_title' | translate}}" hide-back-button="true">
    <ion-content has-header="true" has-footer="true">
        <div class="card" ng-if="emptylist">
            <div class="item item-text-wrap">
                {{archive_empty_list | translate}}
            </div>
        </div>
        <ion-list ng-if="!emptylist">
            <ion-item class="card" ng-repeat="category in categories.data" href="#/app/categories/{{category.id}}" type="item-link">
                <div class="item item-image">
                    <img ng-src="{{category.image}}">
                </div>
                <div class="title">{{category.name | translate_remote}}</div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreCategoriesAvailable" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
