<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Credits</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(2)">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div>
            <div style="text-align: center">{{'credits_app' | translate | nl2br}}</div>
            <div style="text-align: center">{{'credits_project' | translate}}</div>
            <div class="credit">
                <a href="#" onclick="window.open('http://www.fbk.eu', '_system', 'location=yes'); return false;"><img class="image center" src="img/credits/fbk.png" width="50%" />
                </a>
            </div>
            <div class="credit">
                <a href="#" onclick="window.open('http://www.smartcommunitylab.it/', '_system', 'location=yes'); return false;"><img class="image center" src="img/credits/logo-SCO.png" width="60%" />
                </a>
            </div>
            <div class="credit">
                <a href="#" onclick="window.open('http://www.comune.rovereto.tn.it/', '_system', 'location=yes'); return false;"><img class="image center" src="img/credits/logo_comune_rovereto.png" width="60%" />
                </a>
            </div>
            <div class="credit">
                <a href="#" onclick="window.open('http://iescities.eu/', '_system', 'location=yes'); return false;"><img class="image center" src="img/credits/logo_ies_cities.png" />
                </a>
            </div>
        </div>

    </ion-content>
</ion-modal-view>
