<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Credits</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal(2)">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div>
            <div style="text-align: center">{{'credits_app' | translate | nl2br}}</div>
            <div style="text-align: center">{{'credits_project' | translate}}</div>
            <div>
                <a href="http://www.fbk.eu" target="_blank"><img class="image center" src="img/credits/fbk.png" width="50%" />
                </a>
            </div>
            <div>
                <a href="http://www.smartcommunitylab.it/" target="_blank"><img class="image center" src="img/credits/logo-SCO.png" width="60%" />
                </a>
            </div>
            <div>
                <a href="http://www.comune.rovereto.tn.it/" target="_blank"><img class="image center" src="img/credits/logo_comune_rovereto.png" width="60%" />
                </a>
            </div>
            <div>
                <a href="http://iescities.eu/" target="_blank"><img class="image center" src="img/credits/logo_ies_cities.png" />
                </a>
            </div>

        </div>

    </ion-content>
</ion-modal-view>