<ion-view id="paths" title="{{('gallery_title' | translate)}}" ng-init="loadImages()">
    <ion-nav-buttons>
        <!--
    <a class="button button-icon icon myback" ng-click="back()"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
    </a>
-->
        <button ng-click="$ionicGoBack($event)" class="row button button-icon" ng-class="backButtonStyle">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="openAddimage()" class="row button button-icon">
            <div>
                <span><i class="icon ion-plus"></i></span>
            </div>
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true" has-footer="true" ng-controller="DetailsSlideBoxCtrl">
        <!--
        <div class="row gallery-row" ng-repeat="image in images" ng-if="$index % 2 === 0">
            <div class="col col-50 crop" ng-if="$index < images.length">
                <div class="center-cropped" style="background-image: url('{{images[$index]}}');" ng-click="openModal($index)">
                </div>
            </div>
            <div class="col col-50 crop" ng-if="$index + 1 < images.length">
                <div class="center-cropped" style="background-image: url('{{images[$index+1]}}');" ng-click="openModal($index+1)">
                </div>
            </div>
        </div>
        -->
        <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <img ng-src="{{images[$index]}}" width="100%" ng-click="openModal($index)" />
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
                <img ng-src="{{images[$index + 1]}}" width="100%" ng-click="openModal($index+1)" />
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
                <img ng-src="{{images[$index + 2]}}" width="100%" ng-click="openModal($index+2)" />
            </div>
            <div class="col col-25" ng-if="$index + 3 < images.length">
                <img ng-src="{{images[$index + 3]}}" width="100%" ng-click="openModal($index+3)" />
            </div>
        </div>
    </ion-content>
