<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar bar-percorsi">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <!--O: button button-percorsi button-icon icon ion-navicon-->
                <button class="button button-percorsi button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-percorsi">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close item-icon-left href="#/app/categories">
                    <i class="icon ion-home"></i> {{'menu_home' | translate}}
                    <!--<div class="menu-entry">
                        <img src="img/ic-mappa.png">
                        <span></span>
                    </div>-->
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="openLoginPopUp()" ng-hide="userIsLogged">

                    <div class="menu-entry-disabled">
                        <i class="icon ion-android-star "></i> <span>{{'menu_favorites' | translate}}</span>
                    </div>
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left href="#/app/favorites" ng-hide="!userIsLogged">
                    <div class="menu-entry-enabled">
                        <i class="icon ion-android-star "></i> <span>{{'menu_favorites' | translate}}</span>
                    </div>
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="logout()" ng-hide="!userIsLogged">
                    <i class="icon ion-log-out"></i> {{'menu_logout' | translate}}

                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="login()" ng-hide="userIsLogged">
                    <i class="icon ion-log-in"></i> {{'menu_login' | translate}}
                    <!--<div class="menu-entry">
                        <img src="img/ic-login.png">
                        <span>{{'menu_credits' | translate}}</span>
                    </div>-->
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="openModal(2)">
                    <i class="icon ion-information-circled"></i> {{'menu_credits' | translate}}
                    <!--<div class="menu-entry">
                        <img src="img/ic-credits.png">
                        <span>{{'menu_credits' | translate}}</span>
                    </div>-->
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
