<ion-header-bar class="orderpopup-header">
    <h1 class="title">order</h1>
</ion-header-bar>
<ion-content>
    <div class="list">
        <!--
        <a class="item" ng-click="order('alphabetically')">
             {{'orderby_alphabetically' | translate}}
            </a>
        <a class="item" ng-click="order('lenght')">
             {{'orderby_length' | translate}}
            </a>
        <a class="item" ng-click="order('time')">
             {{'orderby_time' | translate}}
            </a>
        <a class="item" ng-click="order('difficulty')">
             {{'orderby_difficulty' | translate}}
            </a>
        <a class="item" ng-click="order('distance')">
             {{'orderby_distance' | translate}}
            </a>
-->
        <ion-radio ng-repeat="item in orderList" ng-value="item.value" ng-model="data.actualOrder">
            {{ item.text }}
        </ion-radio>
    </div>
</ion-content>
