<ion-view id="pathdetails-info" title="{{path.title | translate_remote}}">
    <ion-content class="has-header">
        <div class="slide-box-container">
            <ion-slide-box does-continue="true" auto-play="true">
                <!--on-slide-changed="slideHasChanged($index)"-->
                <ion-slide ng-repeat="image in path.images">
                    <div cover-img="{{image.url}}"></div>
                </ion-slide>
                <ion-slide ng-repeat="video in path.videos">
                    <div class="video" cover-img="{{youtubeEmbed(video.url)}}" ng-click="window.open('{{video.url}}', '_system');">
                        <i class="icon ion-play"></i>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <button class="button button-percorsi button-fab" ng-click="badabum()">
                <div>
                    <span><i class="icon ion-plus"></i></span>
                </div>
            </button>
        </div>
        <div class="padding content">
            <h3>{{path.title | translate_remote}}</h3>
            <p>{{path.description | translate_remote}}</p>
            <div class="path-numbers">
                <div class="path-length">
                    <i class="icon sco-distance-h-pois"></i>
                    <span>{{m2km(path.length)}} km</span>
                </div>
                <div class="path-time">
                    <i class="icon ion-android-time"></i>
                    <span>{{min2time(path.time)}}</span>
                </div>
                <div class="path-difficulty" ng-class="{'d1': path.difficulty == 1, 'd2': path.difficulty == 2, 'd3': path.difficulty == 3}">
                    <i class="icon ion-record"></i>
                    <span>{{('path_difficulty_' + path.difficulty) | translate}}</span>
                </div>
                <div class="path-time">
                    <i class="icon ion-android-star"></i>
                    <span>{{path.vote}}</span>
                </div>
            </div>
            <div class="audio-player">
                <button class="button button-percorsi button-clear button-icon" ng-click="audioPrev()">
                    <i class="icon ion-skip-backward"></i>
                </button>
                <button class="button button-percorsi button-clear button-icon button-play" ng-click="audioToggle()">
                    <i class="icon" ng-class="{'ion-play': !audioIsPlaying, 'ion-pause': !!audioIsPlaying}"></i>
                </button>
                <button class="button button-percorsi button-clear button-icon" ng-click="audioNext()">
                    <i class="icon ion-skip-forward"></i>
                </button>
                <div class="title">[{{audioTrack + 1}}/{{path.audios.length}}] {{path.audios[audioTrack].title | translate_remote}}</div>
            </div>
        </div>
        <div class="itinerary padding-horizontal padding-bottom">
            <h4>{{'path_itinerary' | translate}}</h4>
            <ul>
                <li ng-repeat="poi in path.pois"><span class="number">{{$index + 1}}</span> {{poi.title | translate_remote}}</li>
            </ul>
        </div>
    </ion-content>
</ion-view>
