<ion-view id="paths" title="{{'paths_title' | translate}}">
    <ion-content has-header="true" has-footer="true">
        <div class="card" ng-if="emptylist">
            <div class="item item-text-wrap">
                {{'archive_empty_list' | translate}}
            </div>
        </div>
        <ion-list ng-if="!emptylist">
            <ion-item class="card item-thumbnail-left" ng-repeat="path in paths.data" href="#/app/path" type="item-link" ng-click="choosePath(path)">
                <img ng-src="{{path.images[0]}}" />
                <h2>{{path.title | translate_remote}}</h2>
                <i class="icon ion-android-arrow-back"></i>
                <div class="path-numbers">
                    <div class="path-length">
                        <i class="icon ion-location"></i>
                        <span>{{path.length}}</span>
                    </div>
                    <div class="path-time">
                        <i class="icon ion-clock"></i>
                        <span>{{path.time}}</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMorePathsAvailable" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
