<ion-view title="{{path.title | translate_remote}}">
    <ion-tabs class="tabs-percorsi tabs-top">
        <ion-tab title="{{'path_info' | translate}}" href="#/app/path/info">
            <ion-nav-view name="app-pathdetail-info"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{'path_map' | translate}}" href="#/app/path/map">
            <ion-nav-view name="app-pathdetail-map"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{'path_turist' | translate}}" href="#/app/path/turist">
            <ion-nav-view name="app-pathdetail-turist"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
