<ion-view id="paths" title="{{!!category.name ? (category.name | translate_remote) : ('menu_favorites' | translate)}}">
<ion-nav-buttons>
    <a class="button button-icon icon myback" ng-click="back()"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
    </a>
</ion-nav-buttons>
    <ion-content has-header="true" has-footer="true">
        <div class="padding emptylist" ng-if="emptylist">
            <!--<div class="item item-text-wrap">-->
            {{'archive_empty_list' | translate}}
            <!--</div>-->
        </div>
        <ion-list ng-if="!emptylist">
            <ion-item class="card item-thumbnail-left" ng-repeat="path in paths" href="#/app/path" type="item-link" ng-click="setSelectedPath(path)">
                <img ng-src="{{path.images[0].url}}" />
                <h2>{{path.title | translate_remote}}</h2>
                <div class="path-numbers">
                    <div class="path-length">
                        <i class="icon sco-distance-h-pois"></i>
                        <span>{{m2km(path.length)}} km</span>
                    </div>
                    <div class="path-time">
                        <i class="icon ion-android-time"></i>
                        <span>{{min2time(path.time)}}</span>
                    </div>
                </div>
                <i class="fav icon sco-bookmark" ng-if="isFavorite(path.localId)"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMorePathsAvailable" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
