<ion-view title="{{'paths_title' | translate}}" hide-back-button="true">
    <ion-content has-header="true" has-footer="true" padding="true">
        <div class="card" ng-hide="!emptylist">
            <div class="item item-text-wrap">
                {{'archive_empty_list' | translate}}
            </div>
        </div>
        <ion-list ng-hide="emptylist">
            <ion-item ng-repeat="path in paths.data" href="#/app/paths/{{path.id}}" type="item-link" >
                <div id="container">
                    <p id="text">
                        {{path.images[0]}}
                    </p>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMorePathsAvailable" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>