<ion-view id="pathdetails-info" title="{{path.title | translate_remote}}">
    <ion-content class="has-header">
        <div class="slider-container">
            <ion-slide-box does-continue="true" auto-play="true">
                <!--on-slide-changed="slideHasChanged($index)"-->
                <ion-slide ng-repeat="image in path.images">
                    <img ng-src="{{image}}" />
                </ion-slide>
            </ion-slide-box>
            <button class="button button-percorsi button-fab">
                <!--<i class="icon ion-plus"></i>-->
            </button>
        </div>
        <div class="padding">{{path.title | translate_remote}} {{path.description | translate_remote}} {{path.length}} {{path.time}} {{path.difficulty}}</div>
    </ion-content>
</ion-view>
