<ion-view title="{{'path_title' | translate}}">
    <ion-tabs class="tabs-positive  tabs-top">
        <ion-tab title="{{'path_info' | translate}}" href="#/app/pathdetail/info">
            <ion-nav-view name="app-tab-closed"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{ 'path_map' | translate}} " href="#/app/pathdetail/map">
            <ion-nav-view name="app-tab-processing"></ion-nav-view>
        </ion-tab>
        <ion-tab title="{{ 'path_turist' | translate}} " href="#/app/pathdetail/turist">
            <ion-nav-view name="app-tab-open"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
