<ion-view id="pathdetails-info" title="{{path.title | translate_remote}}">
    <ion-content class="has-header">
        <div class="slide-box-container">
            <ion-slide-box does-continue="true" auto-play="true">
                <!--on-slide-changed="slideHasChanged($index)"-->
                <ion-slide ng-repeat="image in path.images">
                    <img ng-src="{{image}}" />
                </ion-slide>
            </ion-slide-box>
            <button class="button button-percorsi button-fab" ng-click="badabum()">
                <div>
                    <span><i class="icon ion-plus"></i></span>
                </div>
            </button>
        </div>
        <div class="padding content">
            <h4>{{path.title | translate_remote}}</h4>
            <p>{{path.description | translate_remote}}</p>
            <div class="path-numbers">
                <div class="path-length">
                    <i class="icon ion-location"></i>
                    <span>{{m2km(path.length)}} km</span>
                </div>
                <div class="path-time">
                    <i class="icon ion-clock"></i>
                    <span>{{min2time(path.time)}}</span>
                </div>
                <div class="path-difficulty" ng-class="{'d1': path.difficulty == 1, 'd2': path.difficulty == 2, 'd3': path.difficulty == 3}">
                    <i class="icon ion-record"></i>
                    <span>{{('path_difficulty_' + path.difficulty) | translate}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
