<ion-view title="{{'archivedetail_title' | translate}}">

    <ion-content class="has-header">
        <div class="navigation-button">
            <button class="button button-percorsi" ng-click="prevPOI()" ng-class="{'hidden':firstPOI}">
                prev
            </button>
            <button class="button button-percorsi" ng-click="nextPOI()" ng-class="{'hidden':lastPOI}">
                next
            </button>
        </div>
        <div class="slide-box-container">
            <ion-slide-box does-continue="true" auto-play="true">
                <!--on-slide-changed="slideHasChanged($index)"-->
                <ion-slide ng-repeat="image in item.images" ng-click="openModal()">
                    <div cover-img="{{image.url}}"></div>
                </ion-slide>
                <ion-slide ng-repeat="video in item.videos">
                    <div class="video" cover-img="{{youtubeEmbed(video.url)}}" ng-click="window.open('{{video.url}}', '_system');">
                        <i class="icon ion-play"></i>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <button class="button button-percorsi button-fab" ng-click="addImagePopup()">
                <div>
                    <span><i class="icon ion-plus"></i></span>
                </div>
            </button>
        </div>
        <div class="padding content">
            <h3>{{item.title | translate_remote}}</h3>
            <p>{{item.description | translate_remote}}</p>

            <div ng-controller="AudioPlayerCtrl" ng-init="setAudios(item.audios)" class="audio-player">
                <button class="button button-percorsi button-clear button-icon" ng-click="audioPrev()">
                    <i class="icon ion-skip-backward"></i>
                </button>
                <button class="button button-percorsi button-clear button-icon button-play" ng-click="audioToggle()">
                    <i class="icon" ng-class="{'ion-play': !audioIsPlaying, 'ion-pause': !!audioIsPlaying}"></i>
                </button>
                <button class="button button-percorsi button-clear button-icon" ng-click="audioNext()">
                    <i class="icon ion-skip-forward"></i>
                </button>
                <div class="title">[{{audioTrack + 1}}/{{audios.length}}] {{audios[audioTrack].title | translate_remote}}</div>
            </div>
            <div class="buttons padding-vertical">
                <button class="button button-percorsi" ng-click="goToMap()">Mappa</button>
            </div>
        </div>
    </ion-content>
</ion-view>
