<ion-view class="details-info" title="{{path.title | translate_remote}}">
    <!-- Navigation buttons -->
    <!--
   <ion-nav-buttons>
    <a class="button button-icon icon ion-ios-arrow-back myback" ng-click="back()"> Back
        </a>
</ion-nav-buttons>
-->
    <ion-nav-buttons>
        <!--
        <a class="button button-icon icon myback" ng-click="$ionicGoBack($event)"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
        </a>
-->
        <button ng-click="$ionicGoBack($event)" class="row button button-icon" ng-class="backButtonStyle">
        </button>
    </ion-nav-buttons>
    <div class="bar bar-percorsi bar-subheader">
        <button class="button button-percorsi button-clear" ng-click="prevPOI()" ng-class="{'hidden': firstPOI}">
            <i class="ion-chevron-left"></i>
        </button>
        <h2 class="title">{{currentItemIndex}}/{{path.pois.length}}</h2>
        <button class="button button-percorsi button-clear" ng-click="nextPOI()" ng-class="{'hidden': lastPOI}">
            <i class="ion-chevron-right"></i>
        </button>
    </div>
    <ion-content class="has-header has-subheader">
        <!-- Thumbnails slider -->
        <div ng-controller="DetailsSlideBoxCtrl" class="slide-box-container">
            <ion-slide-box delegate-handle="poi-details-slide-box" does-continue="true" auto-play="true">
                <!--on-slide-changed="slideHasChanged($index)"-->
                <ion-slide ng-repeat="image in item.images" ng-click="openModal(poi-details-slide-box)">
                    <div cover-img="{{image.url}}"></div>
                </ion-slide>
                <ion-slide ng-repeat="video in item.videos">
                    <div class="video" cover-img="{{youtubeEmbed(video.url)}}" ng-click="window.open('{{video.url}}', '_system');">
                        <i class="icon ion-play"></i>
                    </div>
                </ion-slide>
            </ion-slide-box>

            <button class="button button-percorsi button-fab" ng-click="openAddimage()">
                <div>
                    <span><i class="icon ion-plus"></i></span>
                </div>
            </button>
        </div>
        <!-- POI content -->
        <div class="padding content">
            <h3>{{item.title | translate_remote}}</h3> {{audios[audioTrack].title.length}}
            <p class="detail-description">{{item.description | translate_remote}}</p>

            <div ng-controller="AudioPlayerCtrl" ng-init="setAudios(item.audios)" class="audio-player">
                <button class="button button-percorsi button-clear button-icon" ng-click="audioPrev()">
                    <i class="icon ion-skip-backward"></i>
                </button>
                <button class="button button-percorsi button-clear button-icon button-play" ng-click="audioToggle()">
                    <i class="icon" ng-class="{'ion-play': !audioIsPlaying, 'ion-pause': !!audioIsPlaying}"></i>
                </button>
                <button class="button button-percorsi button-clear button-icon" ng-click="audioNext()">
                    <i class="icon ion-skip-forward"></i>
                </button>
                <div class="title">[{{audioTrack + 1}}/{{audios.length}}] {{audios[audioTrack].title | translate_remote| limitTo: 15}} {{(audios[audioTrack].title | translate_remote).length> 15 ? '...' : ''}}</div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button button-percorsi button-block" ng-click="goToMap()">{{'path_map' | translate}}</button>
                </div>
                <div class="col">
                    <button class="button button-percorsi button-block" ng-click="bringmethere([item.coordinates.lat, item.coordinates.lng])">{{'pathdetailmap_goto' | translate}}</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
