@font-face {
	font-family: 'sco';
	src:url('sco.eot?ygtry3');
	src:url('sco.eot?#iefixygtry3') format('embedded-opentype'),
		url('sco.woff?ygtry3') format('woff'),
		url('sco.ttf?ygtry3') format('truetype'),
		url('sco.svg?ygtry3#sco') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sco-"], [class*=" sco-"] {
	font-family: 'sco';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sco-heart-outline:before {
	content: "\e600";
}

.sco-distance-h-pois:before {
	content: "\e602";
}

