<div class="col-lg-12 buttons-tab">
    <a href="#/path//info" class="btn btn-info">Crea nuovo</a>
</div>

<div class="col-md-10 col-md-offset-1">
    <ul class="list-group list-categories">
        <li class="list-group-item" ng-repeat="path in paths">
            <div class="row v-center">
                <div class="col-md-2">
                    <img class="path-img" ng-src="{{path.images[0].url}}" alt="{{path.title[languages[0]]}}">
                </div>
                <div class="col-md-8">
                    <h5>{{path.title[languages[0]]}}</h5>
                    <h5>Categoria: {{getCategoriesName(path.categories)}}</h5>
                    <h5>Tappe: {{path.pois.length}}</h5>
                </div>
                <div class="col-md-2 right">
                    <a href="#/path/{{$index}}/info" class="btn btn-icon btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a ng-click="delete($index)" class="btn btn-icon btn-danger" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </div>
        </li>
    </ul>
</div>